* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: sans-serif;
    line-height: 1.2rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 50%;
    margin: 0 auto;
}


