@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:blueviolet;
    font-family: 'Abel', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10% 12%;
    border-radius: 2px;
    background: #fff;
}

.image-container {
    height: 400px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 2%;
    background-color: #fff;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

h3 {
    font-size: 250%;
    font-family: 'Abel', serif;
    color: #3e403f;
    margin: 2% auto 10% auto;
}

.input-icon {
    color: #333;
    padding: 24px 24px;
    border-radius: 5px 0px 0px 5px;
    position: absolute;
}

input[class="form-input"]{
    width: 280px;
    height: 50px;
    margin-top: 2%;
    padding: 15px 62px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    background-color: rgb(212, 209, 209);
    color: #5E6472;
    outline: none;
    border: none;
    border-radius: 25px;
    transition: 0.2s linear;
    
}

input:focus {
    border-radius: 25px;
}

button {
    display: inline-block;
    background-color: #6FB42D;
    color: #fff;
    width: 280px;
    height: 50px;
    padding: 0 20px;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}


 a {
    color: #5E6472;
    text-decoration: none;
}


.create-account {
    padding-top: 100px;
}

/* media-queries for responsiveness */

/* tablets */
@media only screen 
and (min-device-width: 650px)
and (max-device-width: 1024px) {
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10% 6%;
    }
    
    .image-container {
        height: 370px;
    }
}

/* mobile */
@media only screen 
and (min-device-width: 320px)
and (max-device-width: 767px) {
    .container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin: 10% 6%;
    }
    
    .image-container {
        height: 40vh;
        margin-bottom: 120px;
    }
}
